Repository gagle/apdex-board: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --parser typescript --write, stylelint --syntax scss --fix, prettier --write

.lintstagedrc:

{
  "src/**/*.ts": [
    "eslint --fix",
    "prettier --parser typescript --write",
    "git add"
  ],
  "src/**/*.scss": [
    "stylelint --syntax scss --fix",
    "prettier --write",
    "git add"
  ]
}

update docs
  README.md
  fixtures/host-app-data.json
  fixtures/server.js
  package-lock.json
  package.json
  src/index.html
Due: none

fix scss build
  .stylelintcache
  .stylelintrc
  README.md
  package-lock.json
  package.json
  src/index.html
  src/index.ts
  src/styles/global.scss
  src/styles/index.scss
  webpack.config.js
Due: eslint --fix, prettier --parser typescript --write, stylelint --syntax scss --fix, prettier --write

better styles organization
  .stylelintcache
  src/styles/abstracts/_index.scss
  src/styles/abstracts/variables/_colors.scss
  src/styles/abstracts/variables/_fonts.scss
  src/styles/abstracts/variables/_index.scss
  src/styles/base/_index.scss
  src/styles/base/_reset.scss
  src/styles/global.scss
  src/styles/index.scss
  webpack.config.js
Due: stylelint --syntax scss --fix, prettier --write

ok
  README.md
  package-lock.json
  package.json
  src/app/app.component.scss
  src/app/app.component.ts
  src/app/core/interfaces.ts
  src/app/core/shadow-dom/decorators/component.ts
  src/app/core/shadow-dom/decorators/index.ts
  src/app/core/shadow-dom/index.ts
  src/app/core/shadow-dom/shadow-dom-component.ts
  src/declarations.d.ts
  src/index.html
  src/index.ts
  src/polyfills.ts
  src/styles/abstracts/_index.scss
  src/styles/abstracts/variables/_colors.scss
  src/styles/index.scss
  tsconfig.json
  webpack.config.js
Due: eslint --fix, prettier --parser typescript --write, stylelint --syntax scss --fix, prettier --write

more
  .lintstagedrc
  fixtures/server.js
  package-lock.json
  package.json
  src/app/app.component.scss
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/board/board.module.ts
  src/app/board/components/host-list/host-list.component.scss
  src/app/board/components/host-list/host-list.component.ts
  src/app/board/components/host/host.component.scss
  src/app/board/components/host/host.component.ts
  src/app/board/models/app.interface.ts
  src/app/board/models/host.interface.ts
  src/app/board/services/apps.service.ts
  src/app/core/shadow-dom/decorators/component.ts
  src/app/core/shadow-dom/shadow-dom-component.ts
  src/index.html
  src/index.ts
  src/main.ts
  src/polyfills.ts
  tsconfig.json
  webpack.config.js
Due: eslint --fix, prettier --parser typescript --write, stylelint --syntax scss --fix, prettier --write

remove prettier
  .lintstagedrc
  .prettierignore
  .prettierrc
  .vscode/settings.json
  package-lock.json
  package.json
  src/app/board/components/host-list/host-list.component.ts
Due: eslint --fix, prettier --parser typescript --write

refresh pkgs
  README.md
  package-lock.json
Due: none

header
  .eslintrc.js
  src/app/app.component.scss
  src/app/app.component.ts
  src/app/board/board.module.ts
  src/app/board/components/board/board.component.scss
  src/app/board/components/board/board.component.ts
  src/app/board/components/header/header.component.scss
  src/app/board/components/header/header.component.ts
  src/app/board/components/theme-switcher/theme-switcher.component.scss
  src/app/board/components/theme-switcher/theme-switcher.component.ts
  src/app/core/shadow-dom/decorators/component.ts
  src/app/core/shadow-dom/shadow-dom-component.ts
  src/styles/abstracts/variables/_fonts.scss
  webpack.config.js
Due: eslint --fix, prettier --parser typescript --write, stylelint --syntax scss --fix, prettier --write

click
  .eslintrc.js
  src/app/board/components/host/host.component.ts
  src/app/board/components/theme-switcher/theme-switcher.component.ts
  src/app/core/shadow-dom/decorators/component.ts
  src/app/core/shadow-dom/shadow-dom-component.ts
Due: eslint --fix, prettier --parser typescript --write

pass data as grid
  .eslintrc.js
  .jsbeautifyrc
  README.md
  package-lock.json
  package.json
  src/app/board/board.module.ts
  src/app/board/components/board/board.component.ts
  src/app/board/components/header/header.component.scss
  src/app/board/components/header/header.component.ts
  src/app/board/components/host-list/host-list.component.ts
  src/app/board/components/theme-switcher/theme-switcher.component.scss
  src/app/board/components/view-switcher/view-switcher.component.scss
  src/app/board/components/view-switcher/view-switcher.component.ts
  src/app/core/event-emitter.ts
  src/app/core/shadow-dom/index.ts
  src/app/core/shadow-dom/models/attribute-change.interface.ts
  src/app/core/shadow-dom/models/index.ts
  src/app/core/shadow-dom/shadow-dom-component.ts
  src/styles/abstracts/variables/_fonts.scss
Due: eslint --fix, prettier --parser typescript --write, stylelint --syntax scss --fix, prettier --write

finish ui
  src/app/app.component.scss
  src/app/app.component.ts
  src/app/board/components/board/board.component.scss
  src/app/board/components/board/board.component.ts
  src/app/board/components/header/header.component.scss
  src/app/board/components/header/header.component.ts
  src/app/board/components/host-list/host-list-grid.component.scss
  src/app/board/components/host-list/host-list.component.scss
  src/app/board/components/host-list/host-list.component.ts
  src/app/board/components/host/host.component.scss
  src/app/board/components/host/host.component.ts
  src/app/board/components/view-switcher/view-switcher.component.scss
  src/app/board/components/view-switcher/view-switcher.component.ts
  src/app/core/event-emitter.ts
  src/app/core/shadow-dom/decorators/component.ts
  src/app/core/shadow-dom/shadow-dom-component.ts
  src/styles/abstracts/variables/_colors.scss
Due: eslint --fix, prettier --parser typescript --write, stylelint --syntax scss --fix, prettier --write

reorder apps
  src/app/board/components/board/board.component.scss
  src/app/board/components/header/header.component.ts
  src/app/board/components/host-list/host-list.component.ts
  src/app/board/components/host/host.component.scss
  src/app/board/components/host/host.component.ts
  src/app/board/components/view-switcher/view-switcher.component.ts
  src/app/board/models/app.interface.ts
  src/app/board/services/apps-api.service.ts
  src/app/board/services/apps.service.ts
  src/app/board/services/hosts.service.ts
  webpack.config.js
Due: eslint --fix, prettier --parser typescript --write, stylelint --syntax scss --fix, prettier --write

finish ui
  src/app/app.component.ts
  src/app/board/board.module.ts
  src/app/board/components/application-dialog/application-dialog.component.scss
  src/app/board/components/application-dialog/application-dialog.component.ts
  src/app/board/components/application/application.component.scss
  src/app/board/components/application/application.component.ts
  src/app/board/components/host/host.component.scss
  src/app/board/components/host/host.component.ts
  src/app/board/components/text-field/text-field.component.scss
  src/app/board/components/text-field/text-field.component.ts
  src/app/board/components/text-list-field/text-list-field.component.scss
  src/app/board/components/text-list-field/text-list-field.component.ts
  src/app/core/dialog/dialog.service.ts
  src/app/core/dialog/index.ts
  src/app/core/shadow-dom/decorators/component.ts
  src/index.html
  src/styles/abstracts/variables/_colors.scss
  src/styles/base/_global.scss
  src/styles/base/_index.scss
  src/styles/base/_reset.scss
Due: eslint --fix, prettier --parser typescript --write, stylelint --syntax scss --fix, prettier --write

prepare functions
  src/app/board/components/host-list/host-list.component.ts
  src/app/board/components/host/host.component.ts
  src/app/board/models/host.interface.ts
  src/app/board/services/apps.service.ts
  src/app/board/services/hosts.service.ts
Due: eslint --fix, prettier --parser typescript --write

readme
  README.md
Due: none

better oo
  README.md
  src/app/board/components/host-list/host-list.component.ts
  src/app/board/models/hosts-index.interface.ts
  src/app/board/services/apps.service.ts
  src/app/board/services/hosts.service.ts
Due: eslint --fix, prettier --parser typescript --write

tested
  jest.config.js
  package-lock.json
  package.json
  src/app/board/components/host-list/host-list.component.ts
  src/app/board/services/hosts.service.spec.ts
  src/app/board/services/hosts.service.ts
Due: eslint --fix, prettier --parser typescript --write

add license
  LICENSE
  package.json
Due: none

update readne
  README.md
Due: none

init
  .gitignore
  README.md
  src/.gitignore
  src/.vscode/settings.json
  src/alerts/.gitkeep
  src/analyses/.gitkeep
  src/dbt_project.yml
  src/exposures/.gitkeep
  src/exposures/exposures.yml
  src/integrations/.gitkeep
  src/macros/.gitkeep
  src/models/.gitkeep
  src/models/my_first_model.sql
  src/models/my_first_model.yml
  src/models/my_second_model.sql
  src/models/my_second_model.yml
  src/orchestrations/.gitkeep
  src/packages.yml
  src/seeds/.gitkeep
  src/snapshots/.gitkeep
  src/sources/.gitkeep
Due: none
